body {
    font-family: "Poppins", sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}


.container {
  max-width: 1100px;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header h2 {
  color: #0056d6;
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls {
  display: flex;
  gap: 10px;
}

.controls input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

#addBodegaBtn {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

#addBodegaBtn:hover {
  background-color: #0056b3;
}

/* Tarjetas */
.bodegas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bodega-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  width: 250px;
  transition: transform 0.2s;
}

.bodega-card:hover {
  transform: translateY(-5px);
}

.bodega-card h3 {
  color: #007bff;
  margin-top: 0;
}

.bodega-card small {
  background: #ddd;
  padding: 2px 8px;
  border-radius: 5px;
  font-weight: bold;
}

.bodega-card p {
  margin: 6px 0;
}

.progress {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 10px;
  overflow: hidden;
  margin-top: 5px;
}

.progress-bar {
  height: 10px;
  background-color: #28a745;
  width: 0%;
}

.actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.actions button {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.edit-btn {
  background-color: #f4b400;
}

.delete-btn {
  background-color: #dc3545;
}

