.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}


.sidebar-container {
  width: 250px;
  background-color: #062d3a;
  color: #fff;
  overflow-y: auto; 
  flex-shrink: 0;  
  padding: 1rem;
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
}

.main-content {
  flex: 1;
  margin-left: 0px;
  padding: 2rem;
  overflow-y: auto;
  height: 100vh;
  background-color: #f4f4f4;
}
.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}


.sidebar-container {
  width: 250px;
  background-color: #062d3a;
  color: #fff;
  overflow-y: auto; 
  flex-shrink: 0;  
  padding: 1rem;
  position: fixed; 
  top: 0;
  bottom: 0;
  left: 0;
}

.main-content {
  flex: 1;
  margin-left: 0px;
  padding: 2rem;
  overflow-y: auto;
  height: 100vh;
  background-color: #f4f4f4;
}
